In [27]:
import numpy as np
import pandas as pd
import math
from scipy.stats import norm 
from scipy.stats import t

In [38]:
a=[20,23,29,22,50,43,35]
b=[70,65,58,90,45,57,50]

In [21]:
a.sort()
b.sort()
print(a)
print(b)

[20, 22, 23, 29, 35, 43, 50]
[45, 50, 57, 58, 65, 70, 90]

In [47]:
x=0
for i in a:
   x=x+(i-np.mean(a))**2
   
print(np.sqrt(x/7))
print(np.sqrt(x/6))

10.606120681868907
11.455919659202191

In [46]:
x=0
for i in b:
   x=x+(i-np.mean(b))**2
   
print(np.sqrt(x/7))
print(np.sqrt(x/6))

13.788489728015605
14.89327109165491

In [39]:
np.corrcoef(a,b)

array([[ 1.        , -0.76948014],
       [-0.76948014,  1.        ]])

In [48]:
a=[20,23,29,22,50,43,35,98,28]
b=[70,65,58,90,45,57,50,90,38]

In [49]:
print(np.mean(a))
print(np.mean(b))

38.666666666666664
62.55555555555556

In [50]:
np.corrcoef(a,b)[0,1]

0.3138446778421648

In [3]:
df=pd.read_csv('framingham.csv')
df.sample(5)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
1966,1,53,4.0,1,30.0,0.0,0,1,0,226.0,139.0,80.0,23.62,72.0,69.0,0
2751,1,39,2.0,1,20.0,0.0,0,0,0,285.0,120.0,77.5,28.33,95.0,79.0,0
2624,0,53,2.0,0,0.0,0.0,0,0,0,213.0,133.0,89.0,17.89,75.0,73.0,0
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,NaN,0
1138,1,59,NaN,1,20.0,0.0,0,0,0,190.0,93.5,69.0,27.25,68.0,74.0,0

In [5]:
display(df.diabetes.value_counts())
display(df.diabetes.value_counts(normalize=True))

0    4131
1     109
Name: diabetes, dtype: int64

0    0.974292
1    0.025708
Name: diabetes, dtype: float64

In [11]:
m=df.groupby('diabetes')
m.TenYearCHD.value_counts(normalize=True)

diabetes  TenYearCHD
0         0             0.853788
          1             0.146212
1         0             0.633028
          1             0.366972
Name: TenYearCHD, dtype: float64

In [12]:
m=df.groupby('TenYearCHD')
m.diabetes.value_counts(normalize=True)

TenYearCHD  diabetes
0           0           0.980812
            1           0.019188
1           0           0.937888
            1           0.062112
Name: diabetes, dtype: float64

In [13]:
m=df.groupby('diabetes')
display(m.sysBP.mean())
display(m.sysBP.median())

diabetes
0    131.956427
1    147.444954
Name: sysBP, dtype: float64

diabetes
0    128.0
1    143.5
Name: sysBP, dtype: float64

In [19]:
v=-norm.ppf(0.07/2)
v

1.8119106729525978

In [25]:
-norm.ppf(0.05/2)*(3.4/np.sqrt(200))+37

37.47120730027889

In [26]:
7.6-(-norm.ppf(0.01/2))*(0.8/np.sqrt(60))

7.333969493458188

In [28]:
def confidence_interval_norm(alpha, sigma, n, mean):
    value = -norm.ppf(alpha / 2) * sigma / math.sqrt(n)
    return mean - value, mean + value
def confidence_interval_t(alpha, s, n, mean):
    value = -t.ppf(alpha / 2, n - 1) * s / math.sqrt(n)
    return mean - value, mean + value

In [30]:
print(confidence_interval_t(0.1,400,15,2000))
print(confidence_interval_t(0.05,400,15,2000))
print(confidence_interval_t(0.01,400,15,2000))

(1818.092671377004, 2181.907328622996)
(1778.4873833741433, 2221.5126166258565)
(1692.553004440083, 2307.446995559917)

In [31]:
confidence_interval_norm(0.01,1150,250,3540)

(3352.6537883505453, 3727.3462116494547)

In [33]:
print(0.698-norm.ppf(0.1/2)*math.sqrt(0.698*(1-0.698)/189))
print(0.698+norm.ppf(0.1/2)*math.sqrt(0.698*(1-0.698)/189))

0.7529322689231471
0.6430677310768528