In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
a=np.array( [[ 4 , 7 ,-1],[ -4 , 2 , 5],[ 0 ,9,  7]])
a

array([[ 4,  7, -1],
       [-4,  2,  5],
       [ 0,  9,  7]])

In [5]:
np.linalg.matrix_rank(a)

3

In [9]:
#2.6.1
b=np.array([1,2,2])
A=np.array([[1,-5],[2,1],[1,1]])
w_=np.array([1,1])
e=b-A@w_
e

array([ 5, -1,  0])

In [13]:
#2.6.3
A=np.array([[1,2],[-3,1],[1,2],[1,-1]])
b=np.array([1,4,5,0])
A.T@A # матрица Грама

array([[12,  0],
       [ 0, 10]])

In [12]:
np.linalg.inv(A.T@A)

array([[0.08333333, 0.        ],
       [0.        , 0.1       ]])

In [14]:
A.T@b

array([-6, 16])

In [17]:
np.linalg.inv(A.T@A)@(A.T@b)

array([-0.5,  1.6])

In [19]:
m=np.array([[1,1,-1,0],[1,1,1,2],[1,0,0,0],[1,2,0,2]])
m.T@m

array([[4, 4, 0, 4],
       [4, 6, 0, 6],
       [0, 0, 2, 2],
       [4, 6, 2, 8]])

In [5]:
#2.11
df=pd.read_csv('Admission_Predict.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [10]:
df.drop(['Serial No.'],axis=1,inplace=True)

KeyError: "['Serial No.'] not found in axis"

In [13]:
C=df.corr(method='pearson')
C

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,1.000000,0.827200,0.635376,0.613498,0.524679,0.825878,0.563398,0.810351
TOEFL Score,0.827200,1.000000,0.649799,0.644410,0.541563,0.810574,0.467012,0.792228
University Rating,0.635376,0.649799,1.000000,0.728024,0.608651,0.705254,0.427047,0.690132
SOP,0.613498,0.644410,0.728024,1.000000,0.663707,0.712154,0.408116,0.684137
LOR,0.524679,0.541563,0.608651,0.663707,1.000000,0.637469,0.372526,0.645365
CGPA,0.825878,0.810574,0.705254,0.712154,0.637469,1.000000,0.501311,0.882413
Research,0.563398,0.467012,0.427047,0.408116,0.372526,0.501311,1.000000,0.545871
Chance of Admit,0.810351,0.792228,0.690132,0.684137,0.645365,0.882413,0.545871,1.000000

In [15]:
dr0=df[df.Research==0]
dr1=df[df.Research==1]

In [16]:
dr0C=dr0.corr(method='pearson')
dr0C

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,1.000000,0.680668,0.384715,0.371424,0.365864,0.678476,NaN,0.603827
TOEFL Score,0.680668,1.000000,0.495748,0.476563,0.470956,0.696774,NaN,0.622458
University Rating,0.384715,0.495748,1.000000,0.607496,0.484262,0.516427,NaN,0.428580
SOP,0.371424,0.476563,0.607496,1.000000,0.618680,0.547098,NaN,0.470188
LOR,0.365864,0.470956,0.484262,0.618680,1.000000,0.562517,NaN,0.542528
CGPA,0.678476,0.696774,0.516427,0.547098,0.562517,1.000000,NaN,0.752714
Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chance of Admit,0.603827,0.622458,0.428580,0.470188,0.542528,0.752714,NaN,1.000000

In [17]:
dr1C=dr1.corr(method='pearson')
dr1C

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,1.000000,0.824170,0.614739,0.613318,0.443374,0.806720,NaN,0.802439
TOEFL Score,0.824170,1.000000,0.602445,0.629436,0.436199,0.784173,NaN,0.787180
University Rating,0.614739,0.602445,1.000000,0.723126,0.573881,0.692237,NaN,0.713094
SOP,0.613318,0.629436,0.723126,1.000000,0.591858,0.717750,NaN,0.708238
LOR,0.443374,0.436199,0.573881,0.591858,1.000000,0.564794,NaN,0.588558
CGPA,0.806720,0.784173,0.692237,0.717750,0.564794,1.000000,NaN,0.892489
Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chance of Admit,0.802439,0.787180,0.713094,0.708238,0.588558,0.892489,NaN,1.000000

In [20]:
dr0.info()
np.set_printoptions(suppress=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 220 entries, 4 to 499
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          220 non-null    int64
 1   TOEFL Score        220 non-null    int64
 2   University Rating  220 non-null    int64
 3   SOP                220 non-null    float64
 4   LOR                220 non-null    float64
 5   CGPA               220 non-null    float64
 6   Research           220 non-null    int64
 7   Chance of Admit    220 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 15.5 KB

In [29]:
Toef=dr0['TOEFL Score']
CGPA=dr0['CGPA']
tag=dr0[['Chance of Admit ']]
A= np.column_stack((np.ones(220), Toef, CGPA))
A

array([[  1.  , 103.  ,   8.21],
       [  1.  , 101.  ,   7.9 ],
       [  1.  , 102.  ,   8.  ],
       [  1.  , 108.  ,   8.6 ],
       [  1.  , 105.  ,   8.3 ],
       [  1.  , 107.  ,   8.7 ],
       [  1.  , 110.  ,   8.8 ],
       [  1.  , 102.  ,   8.5 ],
       [  1.  , 114.  ,   8.4 ],
       [  1.  , 109.  ,   8.8 ],
       [  1.  ,  93.  ,   7.2 ],
       [  1.  ,  99.  ,   7.3 ],
       [  1.  , 106.  ,   8.4 ],
       [  1.  , 105.  ,   7.8 ],
       [  1.  , 105.  ,   7.5 ],
       [  1.  , 108.  ,   7.7 ],
       [  1.  , 117.  ,   9.1 ],
       [  1.  , 119.  ,   9.7 ],
       [  1.  , 110.  ,   8.  ],
       [  1.  , 103.  ,   7.7 ],
       [  1.  , 102.  ,   7.4 ],
       [  1.  ,  99.  ,   7.6 ],
       [  1.  , 104.  ,   8.3 ],
       [  1.  , 100.  ,   8.1 ],
       [  1.  , 101.  ,   8.2 ],
       [  1.  , 111.  ,   8.7 ],
       [  1.  , 112.  ,   8.92],
       [  1.  , 114.  ,   9.02],
       [  1.  , 106.  ,   8.9 ],
       [  1.  ,  99.  ,   8.22],
       [  1.  ,  93.  ,   7.36],
       [  1.  , 103.  ,   8.66],
       [  1.  , 106.  ,   8.42],
       [  1.  , 107.  ,   8.28],
       [  1.  , 108.  ,   8.14],
       [  1.  ,  97.  ,   7.66],
       [  1.  ,  98.  ,   8.03],
       [  1.  ,  99.  ,   7.66],
       [  1.  , 100.  ,   7.84],
       [  1.  , 100.  ,   8.  ],
       [  1.  , 105.  ,   8.12],
       [  1.  , 106.  ,   8.25],
       [  1.  , 104.  ,   8.47],
       [  1.  , 103.  ,   8.64],
       [  1.  , 108.  ,   8.48],
       [  1.  , 110.  ,   8.56],
       [  1.  , 102.  ,   8.62],
       [  1.  , 104.  ,   7.46],
       [  1.  ,  99.  ,   7.28],
       [  1.  , 106.  ,   8.36],
       [  1.  , 108.  ,   8.22],
       [  1.  , 106.  ,   8.47],
       [  1.  , 105.  ,   8.65],
       [  1.  , 105.  ,   8.56],
       [  1.  , 112.  ,   8.78],
       [  1.  , 103.  ,   8.45],
       [  1.  , 109.  ,   9.12],
       [  1.  , 105.  ,   8.48],
       [  1.  , 105.  ,   8.75],
       [  1.  , 108.  ,   8.89],
       [  1.  , 109.  ,   8.69],
       [  1.  , 105.  ,   8.34],
       [  1.  , 104.  ,   8.26],
       [  1.  , 106.  ,   8.14],
       [  1.  , 100.  ,   7.9 ],
       [  1.  , 103.  ,   7.86],
       [  1.  ,  99.  ,   7.46],
       [  1.  , 109.  ,   8.5 ],
       [  1.  , 105.  ,   8.56],
       [  1.  , 110.  ,   8.97],
       [  1.  , 102.  ,   8.33],
       [  1.  , 102.  ,   8.27],
       [  1.  ,  99.  ,   7.98],
       [  1.  , 110.  ,   9.04],
       [  1.  , 108.  ,   8.12],
       [  1.  , 102.  ,   8.27],
       [  1.  , 104.  ,   8.16],
       [  1.  , 107.  ,   8.42],
       [  1.  , 100.  ,   7.88],
       [  1.  , 110.  ,   8.8 ],
       [  1.  , 106.  ,   8.32],
       [  1.  , 109.  ,   8.76],
       [  1.  , 105.  ,   8.26],
       [  1.  , 106.  ,   8.33],
       [  1.  , 104.  ,   8.43],
       [  1.  , 107.  ,   8.69],
       [  1.  , 105.  ,   8.54],
       [  1.  ,  99.  ,   7.65],
       [  1.  ,  99.  ,   7.89],
       [  1.  , 106.  ,   8.16],
       [  1.  , 104.  ,   8.42],
       [  1.  , 103.  ,   8.75],
       [  1.  , 110.  ,   8.56],
       [  1.  , 113.  ,   8.79],
       [  1.  , 109.  ,   8.45],
       [  1.  , 105.  ,   8.23],
       [  1.  ,  99.  ,   8.03],
       [  1.  , 110.  ,   8.45],
       [  1.  , 110.  ,   8.53],
       [  1.  , 112.  ,   8.67],
       [  1.  , 104.  ,   8.65],
       [  1.  , 107.  ,   8.27],
       [  1.  , 100.  ,   8.07],
       [  1.  , 104.  ,   8.37],
       [  1.  , 100.  ,   7.89],
       [  1.  , 101.  ,   7.68],
       [  1.  , 103.  ,   8.15],
       [  1.  , 107.  ,   8.56],
       [  1.  , 105.  ,   8.73],
       [  1.  , 104.  ,   8.48],
       [  1.  ,  99.  ,   9.  ],
       [  1.  , 114.  ,   9.12],
       [  1.  , 110.  ,   8.37],
       [  1.  ,  99.  ,   8.56],
       [  1.  , 104.  ,   8.09],
       [  1.  , 102.  ,   8.68],
       [  1.  , 105.  ,   8.45],
       [  1.  , 113.  ,   9.14],
       [  1.  , 108.  ,   8.34],
       [  1.  ,  96.  ,   7.86],
       [  1.  ,  95.  ,   7.64],
       [  1.  , 100.  ,   7.95],
       [  1.  , 101.  ,   8.62],
       [  1.  , 103.  ,   8.49],
       [  1.  , 102.  ,   8.73],
       [  1.  , 104.  ,   9.02],
       [  1.  , 109.  ,   9.  ],
       [  1.  , 105.  ,   7.65],
       [  1.  , 102.  ,   7.87],
       [  1.  ,  99.  ,   7.97],
       [  1.  , 100.  ,   8.57],
       [  1.  , 107.  ,   8.67],
       [  1.  , 120.  ,   9.11],
       [  1.  , 112.  ,   8.65],
       [  1.  , 106.  ,   8.  ],
       [  1.  , 108.  ,   8.76],
       [  1.  , 106.  ,   8.43],
       [  1.  , 108.  ,   8.53],
       [  1.  , 110.  ,   8.6 ],
       [  1.  , 100.  ,   8.04],
       [  1.  , 105.  ,   8.13],
       [  1.  , 104.  ,   8.07],
       [  1.  , 101.  ,   7.86],
       [  1.  ,  99.  ,   8.01],
       [  1.  , 107.  ,   8.27],
       [  1.  , 102.  ,   8.18],
       [  1.  , 104.  ,   8.33],
       [  1.  , 100.  ,   8.02],
       [  1.  , 101.  ,   7.86],
       [  1.  ,  96.  ,   7.89],
       [  1.  , 110.  ,   8.79],
       [  1.  , 106.  ,   8.24],
       [  1.  , 103.  ,   8.13],
       [  1.  ,  96.  ,   7.34],
       [  1.  ,  98.  ,   7.43],
       [  1.  ,  97.  ,   7.64],
       [  1.  ,  94.  ,   7.34],
       [  1.  ,  99.  ,   7.25],
       [  1.  , 101.  ,   8.04],
       [  1.  , 102.  ,   8.17],
       [  1.  ,  98.  ,   7.67],
       [  1.  , 106.  ,   8.12],
       [  1.  , 105.  ,   7.64],
       [  1.  , 107.  ,   8.44],
       [  1.  , 103.  ,   8.36],
       [  1.  ,  98.  ,   7.46],
       [  1.  ,  92.  ,   7.88],
       [  1.  , 103.  ,   8.24],
       [  1.  , 105.  ,   7.65],
       [  1.  , 101.  ,   7.66],
       [  1.  ,  96.  ,   7.43],
       [  1.  , 100.  ,   7.56],
       [  1.  ,  98.  ,   7.65],
       [  1.  , 100.  ,   8.26],
       [  1.  , 101.  ,   7.96],
       [  1.  , 105.  ,   8.1 ],
       [  1.  ,  97.  ,   7.8 ],
       [  1.  , 102.  ,   8.24],
       [  1.  , 106.  ,   8.65],
       [  1.  , 104.  ,   8.76],
       [  1.  , 103.  ,   8.78],
       [  1.  , 100.  ,   8.22],
       [  1.  , 105.  ,   8.34],
       [  1.  ,  99.  ,   7.45],
       [  1.  ,  98.  ,   8.02],
       [  1.  ,  96.  ,   7.56],
       [  1.  ,  94.  ,   8.13],
       [  1.  , 104.  ,   8.1 ],
       [  1.  , 103.  ,   7.68],
       [  1.  , 111.  ,   8.03],
       [  1.  , 100.  ,   7.42],
       [  1.  , 106.  ,   8.57],
       [  1.  , 103.  ,   8.74],
       [  1.  , 111.  ,   8.54],
       [  1.  , 103.  ,   8.21],
       [  1.  , 105.  ,   7.68],
       [  1.  , 105.  ,   8.46],
       [  1.  , 104.  ,   7.79],
       [  1.  , 109.  ,   9.02],
       [  1.  , 101.  ,   9.13],
       [  1.  , 105.  ,   8.01],
       [  1.  , 102.  ,   7.64],
       [  1.  , 100.  ,   7.88],
       [  1.  ,  99.  ,   7.57],
       [  1.  , 105.  ,   7.94],
       [  1.  , 107.  ,   7.86],
       [  1.  ,  97.  ,   7.21],
       [  1.  ,  96.  ,   8.26],
       [  1.  , 103.  ,   8.09],
       [  1.  , 102.  ,   8.15],
       [  1.  , 101.  ,   7.88],
       [  1.  , 104.  ,   8.12],
       [  1.  , 105.  ,   8.18],
       [  1.  , 103.  ,   7.92],
       [  1.  , 102.  ,   8.37],
       [  1.  , 115.  ,   9.14],
       [  1.  , 110.  ,   8.5 ],
       [  1.  ,  99.  ,   7.81],
       [  1.  , 103.  ,   8.43],
       [  1.  , 113.  ,   9.04]])

In [30]:
np.linalg.lstsq(A,tag,rcond=None)

(array([[-1.04486443],
        [ 0.00442727],
        [ 0.14807744]]),
 array([1.13772786]),
 3,
 array([1548.98055048,    5.02503482,    0.67532963]))

In [31]:
chance=-1.045+0.004*107+0.148*9.1
chance

0.7297999999999998

In [32]:
# метод .mean() позволяет вычислить арифметическое среднее значение вектора
meanToef = dr0['TOEFL Score'].mean()
meanCGPA  = dr0['CGPA'].mean()
mean_tag = tag.mean()
print('mean value of Toef:',meanToef)
print('mean value of CGPA:', meanCGPA)
print('mean value of tag:',mean_tag)

mean value of Toef: 103.99090909090908
mean value of CGPA: 8.234727272727275
mean value of tag: Chance of Admit     0.634909
dtype: float64

In [33]:
# Центрирование
Toef_c = dr0['TOEFL Score'] - meanToef
CGPA_c = dr0['CGPA'] - meanCGPA
tag_c = tag - mean_tag

In [34]:
# вычисляем длины векторов для нормирования
Toef_c_norm = np.linalg.norm(Toef_c)
CGPA_c_norm = np.linalg.norm(CGPA_c)
tag_c_norm = np.linalg.norm(tag_c)

In [35]:
# Нормирование: делим каждый центрированный вектор на его длину
Toef_st=Toef_c / Toef_c_norm
CGPA_st=CGPA_c / CGPA_c_norm
tag_st=tag_c / tag_c_norm

In [36]:
A_st=np.column_stack(( Toef_st, CGPA_st,))
A_st

array([[-0.01390829, -0.00356568],
       [-0.04198007, -0.04826775],
       [-0.02794418, -0.03384772],
       [ 0.05627116,  0.05267241],
       [ 0.01416349,  0.00941234],
       [ 0.04223527,  0.06709243],
       [ 0.08434294,  0.08151245],
       [-0.02794418,  0.03825238],
       [ 0.1404865 ,  0.02383236],
       [ 0.07030705,  0.08151245],
       [-0.1542672 , -0.1492079 ],
       [-0.07005185, -0.13478788],
       [ 0.02819938,  0.02383236],
       [ 0.01416349, -0.06268777],
       [ 0.01416349, -0.10594783],
       [ 0.05627116, -0.07710779],
       [ 0.18259418,  0.12477251],
       [ 0.21066596,  0.21129264],
       [ 0.08434294, -0.03384772],
       [-0.01390829, -0.07710779],
       [-0.02794418, -0.12036785],
       [-0.07005185, -0.09152781],
       [ 0.0001276 ,  0.00941234],
       [-0.05601596, -0.0194277 ],
       [-0.04198007, -0.00500768],
       [ 0.09837883,  0.06709243],
       [ 0.11241472,  0.09881648],
       [ 0.1404865 ,  0.1132365 ],
       [ 0.02819938,  0.09593247],
       [-0.07005185, -0.00212368],
       [-0.1542672 , -0.12613586],
       [-0.01390829,  0.06132442],
       [ 0.02819938,  0.02671637],
       [ 0.04223527,  0.00652834],
       [ 0.05627116, -0.01365969],
       [-0.09812363, -0.0828758 ],
       [-0.08408774, -0.02952172],
       [-0.07005185, -0.0828758 ],
       [-0.05601596, -0.05691976],
       [-0.05601596, -0.03384772],
       [ 0.01416349, -0.0165437 ],
       [ 0.02819938,  0.00220233],
       [ 0.0001276 ,  0.03392638],
       [-0.01390829,  0.05844041],
       [ 0.05627116,  0.03536838],
       [ 0.08434294,  0.0469044 ],
       [-0.02794418,  0.05555641],
       [ 0.0001276 , -0.11171584],
       [-0.07005185, -0.13767188],
       [ 0.02819938,  0.01806435],
       [ 0.05627116, -0.00212368],
       [ 0.02819938,  0.03392638],
       [ 0.01416349,  0.05988242],
       [ 0.01416349,  0.0469044 ],
       [ 0.11241472,  0.07862845],
       [-0.01390829,  0.03104237],
       [ 0.07030705,  0.12765652],
       [ 0.01416349,  0.03536838],
       [ 0.01416349,  0.07430244],
       [ 0.05627116,  0.09449047],
       [ 0.07030705,  0.06565043],
       [ 0.01416349,  0.01518035],
       [ 0.0001276 ,  0.00364433],
       [ 0.02819938, -0.01365969],
       [-0.05601596, -0.04826775],
       [-0.01390829, -0.05403575],
       [-0.07005185, -0.11171584],
       [ 0.07030705,  0.03825238],
       [ 0.01416349,  0.0469044 ],
       [ 0.08434294,  0.10602649],
       [-0.02794418,  0.01373835],
       [-0.02794418,  0.00508633],
       [-0.07005185, -0.03673173],
       [ 0.08434294,  0.1161205 ],
       [ 0.05627116, -0.0165437 ],
       [-0.02794418,  0.00508633],
       [ 0.0001276 , -0.01077569],
       [ 0.04223527,  0.02671637],
       [-0.05601596, -0.05115175],
       [ 0.08434294,  0.08151245],
       [ 0.02819938,  0.01229635],
       [ 0.07030705,  0.07574444],
       [ 0.01416349,  0.00364433],
       [ 0.02819938,  0.01373835],
       [ 0.0001276 ,  0.02815837],
       [ 0.04223527,  0.06565043],
       [ 0.01416349,  0.04402039],
       [-0.07005185, -0.0843178 ],
       [-0.07005185, -0.04970975],
       [ 0.02819938, -0.01077569],
       [ 0.0001276 ,  0.02671637],
       [-0.01390829,  0.07430244],
       [ 0.08434294,  0.0469044 ],
       [ 0.12645061,  0.08007045],
       [ 0.07030705,  0.03104237],
       [ 0.01416349, -0.00068167],
       [-0.07005185, -0.02952172],
       [ 0.08434294,  0.03104237],
       [ 0.08434294,  0.04257839],
       [ 0.11241472,  0.06276642],
       [ 0.0001276 ,  0.05988242],
       [ 0.04223527,  0.00508633],
       [-0.05601596, -0.02375371],
       [ 0.0001276 ,  0.01950636],
       [-0.05601596, -0.04970975],
       [-0.04198007, -0.07999179],
       [-0.01390829, -0.01221769],
       [ 0.04223527,  0.0469044 ],
       [ 0.01416349,  0.07141843],
       [ 0.0001276 ,  0.03536838],
       [-0.07005185,  0.11035249],
       [ 0.1404865 ,  0.12765652],
       [ 0.08434294,  0.01950636],
       [-0.07005185,  0.0469044 ],
       [ 0.0001276 , -0.0208697 ],
       [-0.02794418,  0.06420842],
       [ 0.01416349,  0.03104237],
       [ 0.12645061,  0.13054052],
       [ 0.05627116,  0.01518035],
       [-0.11215952, -0.05403575],
       [-0.12619542, -0.0857598 ],
       [-0.05601596, -0.04105773],
       [-0.04198007,  0.05555641],
       [-0.01390829,  0.03681038],
       [-0.02794418,  0.07141843],
       [ 0.0001276 ,  0.1132365 ],
       [ 0.07030705,  0.11035249],
       [ 0.01416349, -0.0843178 ],
       [-0.02794418, -0.05259375],
       [-0.07005185, -0.03817373],
       [-0.05601596,  0.0483464 ],
       [ 0.04223527,  0.06276642],
       [ 0.22470185,  0.12621452],
       [ 0.11241472,  0.05988242],
       [ 0.02819938, -0.03384772],
       [ 0.05627116,  0.07574444],
       [ 0.02819938,  0.02815837],
       [ 0.05627116,  0.04257839],
       [ 0.08434294,  0.05267241],
       [-0.05601596, -0.02807971],
       [ 0.01416349, -0.0151017 ],
       [ 0.0001276 , -0.02375371],
       [-0.04198007, -0.05403575],
       [-0.07005185, -0.03240572],
       [ 0.04223527,  0.00508633],
       [-0.02794418, -0.00789168],
       [ 0.0001276 ,  0.01373835],
       [-0.05601596, -0.03096372],
       [-0.04198007, -0.05403575],
       [-0.11215952, -0.04970975],
       [ 0.08434294,  0.08007045],
       [ 0.02819938,  0.00076033],
       [-0.01390829, -0.0151017 ],
       [-0.11215952, -0.12901987],
       [-0.08408774, -0.11604185],
       [-0.09812363, -0.0857598 ],
       [-0.14023131, -0.12901987],
       [-0.07005185, -0.14199789],
       [-0.04198007, -0.02807971],
       [-0.02794418, -0.00933369],
       [-0.08408774, -0.08143379],
       [ 0.02819938, -0.0165437 ],
       [ 0.01416349, -0.0857598 ],
       [ 0.04223527,  0.02960037],
       [-0.01390829,  0.01806435],
       [-0.08408774, -0.11171584],
       [-0.16830309, -0.05115175],
       [-0.01390829,  0.00076033],
       [ 0.01416349, -0.0843178 ],
       [-0.04198007, -0.0828758 ],
       [-0.11215952, -0.11604185],
       [-0.05601596, -0.09729582],
       [-0.08408774, -0.0843178 ],
       [-0.05601596,  0.00364433],
       [-0.04198007, -0.03961573],
       [ 0.01416349, -0.0194277 ],
       [-0.09812363, -0.06268777],
       [-0.02794418,  0.00076033],
       [ 0.02819938,  0.05988242],
       [ 0.0001276 ,  0.07574444],
       [-0.01390829,  0.07862845],
       [-0.05601596, -0.00212368],
       [ 0.01416349,  0.01518035],
       [-0.07005185, -0.11315784],
       [-0.08408774, -0.03096372],
       [-0.11215952, -0.09729582],
       [-0.14023131, -0.0151017 ],
       [ 0.0001276 , -0.0194277 ],
       [-0.01390829, -0.07999179],
       [ 0.09837883, -0.02952172],
       [-0.05601596, -0.11748385],
       [ 0.02819938,  0.0483464 ],
       [-0.01390829,  0.07286044],
       [ 0.09837883,  0.04402039],
       [-0.01390829, -0.00356568],
       [ 0.01416349, -0.07999179],
       [ 0.01416349,  0.03248438],
       [ 0.0001276 , -0.06412977],
       [ 0.07030705,  0.1132365 ],
       [-0.04198007,  0.12909852],
       [ 0.01416349, -0.03240572],
       [-0.02794418, -0.0857598 ],
       [-0.05601596, -0.05115175],
       [-0.07005185, -0.09585382],
       [ 0.01416349, -0.04249974],
       [ 0.04223527, -0.05403575],
       [-0.09812363, -0.14776589],
       [-0.11215952,  0.00364433],
       [-0.01390829, -0.0208697 ],
       [-0.02794418, -0.01221769],
       [-0.04198007, -0.05115175],
       [ 0.0001276 , -0.0165437 ],
       [ 0.01416349, -0.00789168],
       [-0.01390829, -0.04538374],
       [-0.02794418,  0.01950636],
       [ 0.15452239,  0.13054052],
       [ 0.08434294,  0.03825238],
       [-0.07005185, -0.06124576],
       [-0.01390829,  0.02815837],
       [ 0.12645061,  0.1161205 ]])

In [38]:
# OLS оценка коэффициентов центрированной регрессии
w_hat_st=np.linalg.inv(A_st.T@A_st)@A_st.T@tag_st.values
w_hat_st

array([[0.19044768],
       [0.62001517]])

In [39]:
#2.12
v=np.array([1,2,3])
F=np.array([[1,0,0],[0,0,1],[0,-1,0]])
F@v

array([ 1,  3, -2])

In [40]:
u=np.array([1,-1])
v=np.array([1,1])
F=np.array([[2,1],[1,2]])
print(F@u)
print(F@v)

[ 1 -1]
[3 3]

In [44]:
#2.13 
f=np.array([[7,2],[1,8]])
m=np.array([2,-1])
f@m

array([12, -6])

In [46]:
f=np.array([[-7,6],[-12,11]])
l=np.array([1,1])
f@l

array([-1, -1])