In [2]:
#6.3.1
import pandas as pd
df=pd.read_csv('data_sf.csv')
len(df['Club'].value_counts())

650

In [70]:
#6.3.2
df['Club'].value_counts()

Shonan Bellmare      30
V-Varen Nagasaki     30
De Graafschap        29
Padova               29
Vissel Kobe          29
                     ..
Cruzeiro              8
Dinamo Zagreb         7
Vitória Guimarães     7
GD Chaves             7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [10]:
#6.4.1
df['Position'].value_counts(normalize=True)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

In [27]:
#6.4.3
s=df['FKAccuracy'].value_counts(bins=5)
s

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [32]:
#6.6.1
small=df[df['Nationality']=='Spain']
small['Wage'].value_counts(bins=4,normalize=True)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [34]:
#6.6.2
small=df[df['Club']=='Manchester United']
small['Nationality'].nunique()

13

In [53]:
#6.6.3
s=df[(df['Nationality']=='Brazil') & (df['Club']=='Juventus')]['Name'].unique()
#s['Name'].unique()
s

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [69]:
#6.6.4
s=df[df['Age']>35]
s['Club'].value_counts()

Club Atlético Huracán         4
Hokkaido Consadole Sapporo    4
Morecambe                     3
Club Atlético Colón           3
Nagoya Grampus                3
                             ..
SV Wehen Wiesbaden            1
LASK Linz                     1
Swindon Town                  1
Walsall                       1
Scunthorpe United             1
Name: Club, Length: 212, dtype: int64

In [65]:
#6.6.5
small=df[df['Nationality']=='Argentina']
small_age=small['Age'].value_counts(bins=4)

small[small['Age']>small_age.index[3].left]['Name'].nunique()

49

In [67]:
#6.6.6
df[(df['Nationality']=='Spain')]['Age'].value_counts(normalize=True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [8]:
#6.7.1
group_df=df.groupby(['Position'])['Wage'].sum().sort_values()
group_df.tail(9)

Position
RB      5034000
RM      5098000
LM      5440000
CAM     5500000
LB      6096000
CM      6194000
CB      7476000
GK      8784000
ST     11873000
Name: Wage, dtype: int64

In [13]:
#6.8.1
group_df=df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False)
group_df

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

In [68]:
#6.9.1
group=df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
group[group['mean']==group['median']].count()

mean      52
median    52
dtype: int64

In [33]:
#6.9.2
group=df.groupby(['Club'])['Wage'].agg(['mean', 'median'])
group[group['mean']==group['median']]['mean'].sort_values(ascending=False).head(5)

Club
Cruzeiro           13000.0
Göztepe SK          7000.0
Brøndby IF          6000.0
1. FC Magdeburg     4000.0
Sunderland          4000.0
Name: mean, dtype: float64

In [38]:
#6.10.1
df.groupby(['Club'])['Wage'].sum().loc['Chelsea']

2035000

In [46]:
#6.10.2
df[df['Age']==20].groupby(['Nationality'])['Wage'].max().loc['Argentina']

54000

In [67]:
#6.10.3
df[df['Age']==30].groupby(['Nationality'])['Wage'].max().loc['Argentina']

300000

In [48]:
#6.10.4
df[df['Age']==30].groupby(['Nationality'])['Wage'].min().loc['Argentina']

1000

In [66]:
#6.10.5
print(df[(df['Club']=='FC Barcelona') & (df['Nationality']=='Argentina')]['Strength'].max())
print(df[(df['Club']=='FC Barcelona') & (df['Nationality']=='Argentina')]['Balance'].max())

59
95

In [98]:
#6.13.1
df2=df.pivot_table(columns = 'Position', 
index = 'Club', 
values = 'Name', 
aggfunc = 'count',
fill_value=0)
df2['GK'].mean()

2.5246153846153847

In [99]:
#6.13.2
df2=df.pivot_table(columns = 'Position', 
index = 'Club', 
values = 'Name', 
aggfunc = 'count',
fill_value=0)
df2['CM'].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

In [104]:
#6.14.1
df2=df.pivot_table(columns='Club',
index='Nationality',
values='Wage',
aggfunc='sum')
df2.loc['Russia']['AS Monaco']

61000.0

In [115]:
#6.14.2
pivot=df.pivot_table(columns='Position',
index='Club',
values='SprintSpeed',
aggfunc='mean',
fill_value=0)
pivot.max().sort_values(ascending=False)

Position
RS     94.0
RM     94.0
LM     94.0
LS     93.0
RB     93.0
LB     93.0
CF     91.0
LW     91.0
ST     91.0
RDM    91.0
RW     91.0
RCM    90.0
CAM    89.0
LF     88.0
RCB    88.0
LCB    88.0
RWB    86.0
RF     86.0
CM     86.0
LWB    86.0
LAM    85.0
LCM    84.0
CDM    83.0
LDM    79.0
RAM    78.0
CB     78.0
GK     62.0
dtype: float64

In [117]:
#6.14.3
pivot=df.pivot_table(columns='Position',
index='Club',
values='SprintSpeed',
aggfunc='mean',
fill_value=0)
pivot['ST'].sort_values(ascending=False)

Club
Vitória                  91.000000
Sydney FC                88.000000
CD Lugo                  87.000000
Brøndby IF               84.666667
Leicester City           84.500000
                           ...
Málaga CF                 0.000000
PFC CSKA Moscow           0.000000
Stade Rennais FC          0.000000
Standard de Liège         0.000000
Sporting de Charleroi     0.000000
Name: ST, Length: 650, dtype: float64